@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
    padding-right: 112.5px;
    padding-left: 60px;
}

header .nav-links a {
    color: #000;
    text-decoration: none;
}

.fa-bars {
    display: none;
}

@media(max-width:732px) {
    .fa-bars {
        display: flex;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links {
        display: none;
    }
}

.header logo {
    padding-left: 12px;
    padding-right: 24px;
}

.introsection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 7.03rem;
    padding-right: 7.03rem;

}

.intro-left-side {
    padding-top: 117px;
    min-width: 580px;
    /* flex-basis: 50%; */
}

.intro-right-side {
    padding-top: 70px;
    /* padding-right: 10px; */
    min-width: 280px;
    /* flex: 1; */
    /* flex-basis: 100%; */
    text-align: center;
}

.intro-left-side h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom:10px;
    padding-left:60px;
}

.intro-left-side h1 span {
    color: #FF8A56;


}

.intro-right-side img {
    /* width: 450px;
    height: 450px; */
    width: 100%;

}

@media(max-width:1311px) and (min-width:768px) {}
.introsection {
    padding-left: 0;
    padding-right: 0;
}

@media(max-width:768px) {
    .intro-left-side {
        min-width: 500px;
        text-align: center;
        padding-top: 40px
    }

}

.intro-left-side p{
    margin-bottom:25px;
    padding:60px;
    
}

.intro-left-side button{
    width: 132px;
    height:50px;
    background-color:#000;
    color:#fff;
    cursor: pointer;
    font-size:15px;
   margin-right: 20px;
   margin-left: 50px;
}
button a{
    padding-right: 15px;
}


