@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --pink-color: #FF5E69;
}

* {
    box-sizing: border-box;
}

/* HEADER START */
body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px 46px 0px;
}

header .nav-links a {
    color: #000;
    text-decoration: none;
}

header nav {
    width: 41%;
    display: flex;
    justify-content: space-between;
}

.fa-bars {
    display: none !important;
}

@media(max-width:768px) {
    .fa-bars {
        display: block;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links {
        display: none;
    }
}

/* HEADER END */


/* INTROSECTION START */
.introsection {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;

}

.intro-left-side {
    width: 43%;
}

.intro-right-side {
    width: 40%;
    text-align: center;
}

.intro-left-side h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 50px;
}

.intro-left-side h1 span {
    color: #FF8A56;
}

.intro-right-side img {
    width: 100%;
}

.intro-left-side a {
    text-decoration: none;
    color: #000;
}

.intro-left-side p {
    margin-bottom: 45px;
    line-height: 25px;
}

.intro-left-side button {
    width: 100px;
    height: 50px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-right: 15px;
}

@media(max-width:768px) {
    .introsection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-left-side {
        width: 85%;
        margin: auto;
        text-align: center;
    }

    .intro-right-side {
        width: 85%;
        margin: auto;
    }
}

@media(max-width:500px) {
    .intro-left-side h1 {
        font-size: 30px;
        width: 100%;
    }
}

/* INTROSECTION END */


/* TRUSTED BY SECTION START */
.trusted-by-section>h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 77px;
}

.trusted-by-companies {
    display: flex;
    justify-content: space-around;
    padding-top: 46px;
}

.trusted-by-companies img {
    width: 120px;
}

@media(max-width:768px) {
    .trusted-by-company:nth-child(even) {
        display: none;
    }
}

/* TRUSTED BY SECTION END */

/* SERVICES SECTION START */


.services h2,
h6 {
    text-align: center;
}

.services {
    padding: 40px 0;
}

.services h6 {
    font-weight: 700;
    color: var(--pink-color);
    font-size: 22px;
    margin-top: 50px;
}

.services h2 {
    font-size: 27px;
    margin-top: 24px;
}

.services-cards-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
}

.service-card {
    width: 20%;
    min-width: 250px;
    margin-bottom: 30px;

}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
}


.projects-section {
    width: 100%;
}

.project-container {
    width: 85%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-section h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    color: #B16CEA;
}

.project-container button {
    width: 140px;
    height: 48px;
    background-color: #000;
    color: #fff
}

.view-all-projects h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

.projects-cards {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    z-index: 2;

}

.project-card {
    width: 30%;
    height: 300px;
}

.project-card-top {
    height: 200px;
    width: 100%;
}

.project-card-top img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

.project-card-bottom {
    height: 100px;
    width: 100%;
    padding: 20px 25px;
    background-color: #fff
}

.buton {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: flex-end;
}

@media(max-width:992px) {
    .projects-cards {
        flex-wrap: wrap;
    }

    .project-card {
        width: 45%;
    }

    .project-card:last-child {
        display: none;
    }
}

@media(max-width:500px) {
    .project-card {
        width: 90%;
    }

    .project-card:nth-child(2) {
        display: none;
    }

    .project-container {
        flex-direction: column;
    }
}


/* SERVICES SECTION END */

/* LATEST BLOG SECTION START */

.latest-blog-section {
    background-color: #000;
    padding: 46px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -10%;
    padding-top: 120px;
}


.latest-blog-section h4 {
    color: orangered;
    margin-bottom: 32px;
    font-size: 20px;
    margin-right: 0
}


.latest-blog-section h1 {
    font-size: 44px;
    margin-bottom: 20px;
    color: #fff
}

.latest-blog-section a {
    color: #fff
}

.latest-blog-section a,
.latest-blog-section h2 {
    color: #fff
}

.latest-blog-section .left-side {
    /* flex-basis: 40%; */
    display: flex;
    width: 30%;
    flex-direction: column;
    /* min-width: 243px; */

}

.latest-blog-section .right-side {
    /* flex:1; */
    width: 50%;
    /* min-width:509px; */
}

.latest-blog-section .right-side .blog {
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #666;
}

.blog .metadata {
    color: #666;
    margin-bottom: 30px;
    display: inline-block;
}


.latest-blog-section .right-side .blog h2 {
    font-size: 24px;
    margin-bottom: 26px;
    width: 80%;
}

@media(max-width:768px) {
    .latest-blog-section .left-side {
        width: 85%;
        margin: auto
    }

    .latest-blog-section .right-side {
        width: 85%;
        margin: auto;
    }

}

@media(max-width:527px) {
    .latest-blog-section>.right-side>.blog {
        /* padding-right: 0; */
        width: 95%;
        /* margin-right:0 ; */
    }

}
/* LATEST BLOG SECTION END */





/* PRODUCT DESIGNER START */
.product-designer-section {
    padding: 20px 0;
}

.product-designer-section h3 {
    color: #FF5E69;
    font-weight: 700;
    font-size: 18px;

}

.thats-me-section h1 {
    font-weight: 700;
    font-size: 36px;
}

.thats-me-section {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.thats-me-section p {
    width: 47%;
    font-size: 16px;
    color: #666666;
    line-height: 32px;
    font-weight: 400;
    /* min-width: 500px; */
}

.thats-me-image-section {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.thats-me-image-section .left-side {
    width: 27%;
    height: 380px;
}

.thats-me-image-section .right-side {
    width: 27%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.thats-me-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    width: 39%;
    height: 380px;
}

.right-side-top,
.right-side-bottom {
    width: 100%;
    height: 48%;
}

@media(max-width:768px) {
    .thats-me-image-section .left-side {
        width: 48%;
        height: 300px;
        margin-bottom: 15px;
    }

    .center {
        width: 48%;
        height: 300px;
    }

    .thats-me-image-section .right-side {
        width: 100%;
        height: 300px;
        justify-content: space-between;
        flex-direction: row;
    }

    .right-side-top,
    .right-side-bottom {
        width: 48%;
        height: 100%;
    }
}

@media(max-width:500px) {
    .thats-me-section p {
        width: 100%;
    }

    .thats-me-image-section .left-side {
        width: 100%;
    }

    .center {
        width: 100%;
        margin-bottom: 15px;
    }

    .thats-me-image-section .right-side {
        width: 100%;
        height: 600px;
        flex-direction: column;
    }

    .right-side-top,
    .right-side-bottom {
        width: 100%;
        height: 49%;
    }
}

/* PRODUCT DESIGNER SECTION END */



/* EDUCATION WORK SECTION START */
.education-work-section {
    display: flex;
    padding-top: 66px;
    flex-wrap: wrap;
}


.education-side {
    /* background-color: aqua; */
    flex-basis: 50%;
    min-width: 407px;
}


.work-side {
    /* background-color: #FF5E69; */
    flex: 1;
    min-width: 407px;
}


.education {
    border-bottom: 1px solid #dedede;
    padding: 20px 20px 20px 0;
}

.education-side>h1 {
    font-size: 28px;
    margin-bottom: 38px;
}

.education-top {
    display: flex;
    justify-content: space-between;
}

.education-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.education-bottom>span:nth-child(2) {
    margin-right: 36px;
    /* margin-top: 34px; */
}


.work-side>h1 {
    font-size: 28px;
    margin-bottom: 38px;
}


.work-section {
    display: flex;
    align-items: center;
}



.work-section>svg {
    flex-basis: 8%;

}

.work {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1px solid #dedede;
    padding: 20px 20px 20px 0;
}

.work-top {
    display: flex;
    justify-content: space-between;

}


.work-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}



.work-bottom>span:nth-child(2) {
    margin-right: 36px;
}




@media(max-width:831px) {
    .education-side {
        flex: 1;
    }
}






/* EDUCATION WORK SECTION END */


/* TESTIMONIALS-SECTION START */
.testimonials-section {
    width: 100%;
    height: auto !important;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 80px;
}

.testimonials-section-top {
    width: 85%;
    margin: auto;
}

.testimonials-section-bottom {
    display: flex;
    width: 85%;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.testimonials-bottom-left {
    width: 48%;
    height: 450px;
}

.testimonials-bottom-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-bottom-right {
    width: 48%;
}

.right-bottom {
    width: 100%;
    display: flex;
}

.testimonials-section h1 {
    font-size: 22px;
    letter-spacing: 4px;
    color: #4353FF;
    padding-bottom: 20px;
    font-weight: 700;
}

.testimonials-section h2 {
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
}

.testimonials-section p {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

.testimonials-section h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.testimonials-section h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.right-bottom-right button {
    background-color: #000;
    width: 46px;
    height: 46px;
}

.testimonials-bottom-right>.right-bottom {
    justify-content: space-between;
}

.right-top p {
    width: 100%;
    margin-bottom: 60px;
}

@media(max-width:768px) {
    .testimonials-bottom-left {
        width: 100%;
        margin-bottom: 15px;
    }

    .testimonials-bottom-right {
        width: 100%;
    }
}

/* TESTIMONIALS-SECTION END */



/* FAQ-SECTION START */
.faq-section {
    width: 100%;
    padding: 25px 0;
    background-color: #000;
}

.faq-section-top {
    text-align: center;
}

.faq-section-top h1 {
    font-size: 22px;
    font-weight: 700;
    color: #FF8A56;
    letter-spacing: 4px;
    padding-bottom: 20px;
}

.faq-section-top h2 {
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.faq-section-bottom {
    display: flex;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq-card h3 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 49px;
}

.faq-card {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(229, 229, 229, 0.3);
    justify-content: space-between;
}

.faq-card h3 {
    font-size: 20px;
}

.bottom-left-side {
    width: 48%;
}

.bottom-right-side {
    width: 48%;
}

@media(max-width:768px) {
    .bottom-left-side {
        width: 100%;
    }

    .bottom-right-side {
        width: 100%;
    }
}

/* FAQ-SECTION END*/

/* FINAL-SECTION START */

.final-section {
    background-color: #000;
    padding: 25px 0;
}

.final-section-container {
    width: 85%;
    margin: auto;
}

.final-section h1 {
    color: #fff;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 1px;
}

.final-section h2 {
    color: #3C46FF;
    font-weight: 700;
    font-size: 54px;
    line-height: 59px;
    letter-spacing: 0.5px;
}

.final-section-top {
    padding-bottom: 40px;
}

.final-section h4 {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 10px;
}

/* .final-section-bottom>.left-side>.img {
    display: flex;
    gap: 6px;
} */

.final-section h5 {
    color: #666666;
    font-weight: 400;
    font-size: 17px;
}

.final-section-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.final-section .left-side {
    width: 35%;
}

.final-section .left-side .img {
    display: flex;
}

.final-section .right-side {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.final-section-bottom>.right-side a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.final-section-bottom>.right-side a:hover {
    text-decoration: underline;
}

.about a {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    /* padding-right: 142px; */
}

.services a {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    /* padding-right: 142px; */
}

.experience a {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

@media(max-width:768px) {
    .final-section-bottom .left-side {
        width: 100%;
    }

    .final-section-bottom .right-side {
        width: 100%;
    }
}


/* FINAL-SECTION END*/

/* FOOTER SECTION START */



.footer{
    background-color:#000;
    display:flex;
    flex-wrap:wrap;
padding:0px 60px 40px

}


.footer p{
    color:#666666;
    font-weight: 400;
    font-size:14px;
    width:380px;
}


.footer a{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    
}


.footer a:hover{
    text-decoration: underline;
}




/* FOOTER SECTION END */